@charset "UTF-8";
.header {
    .header__list {
        &:last-child {
            .header__item {
                &>button {
                    cursor: pointer;
                }
                .dropdown {
                    transition: all 100ms ease-in-out;
                    visibility: hidden;
                    opacity: 1;
                    position: absolute;
                    top: 50px;
                    left: -60px;
                    z-index: 1;
                    padding: 10px;
                    width: 170px;
                    border-radius: 5px;
                    background-color: $clr-element-bg;
                    box-shadow: 0px 5px 15px 0px #00000047;
                    .dropdown__list {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 10px;
                        .dropdown__item {
                            border-radius: 5px;
                            padding: 8px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            gap: 8px;
                            font-size: .90rem;
                            & button {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                color: rgba(255, 0, 0, 0.719);
                                &:hover {
                                    color: $clr-neutral-4;
                                }
                            }
                            & a {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                color: $clr-neutral;
                            }
                            & svg {
                                font-size: 1.2rem;
                            }
                            &:hover {
                                &:not(:nth-last-child(2)) {
                                    cursor: pointer;
                                    background-color: hsla(26, 100%, 55%, 0.767);
                                    color: $clr-neutral-4;
                                }
                                & a {
                                    color: $clr-neutral-4;
                                }
                            }
                            &:nth-last-child(2) {
                                border-top: 1px solid rgba(128, 128, 128, 0.26);
                                padding: 0;
                                border-radius: 0;
                            }
                        }
                    }
                }
                &:last-child {
                    &:hover {
                        .dropdown {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}