@charset "UTF-8";
.main-denied {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        background-color: $clr-primary;
        border-radius: 30px;
        color: $clr-neutral-4;
        display: inherit;
        align-items: center;
        gap: 20px;
        width: 580px;
        padding: 30px 15px;
        &>svg {
            flex-basis: 40%;
            font-size: 12rem;
        }
        .main__article {
            flex-basis: 60%;
        }
        .main__subtitle {
            font-size: 2.2rem;
            border-bottom: 3px solid $clr-neutral-4;
            padding-bottom: 15px;
        }
        .main__paragraph {
            padding-top: 15px;
            font-size: 1.2rem;
            line-height: .8cm;
            text-align: left;
            margin: 5px 0 35px 0;
            &>span {
                font-size: 1.7rem;
            }
        }
        a {
            background-color: $clr-neutral-4;
            padding: 10px 50px;
            font-size: 1.3rem;
            font-weight: 700;
            border-radius: 40px;
            color: $clr-primary;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.397);
            background: linear-gradient(to right, $clr-primary 50%, $clr-neutral-4 50%);
            background-size: 200% 100%;
            background-position: bottom right;
            transition: all .6s ease-out;
            &:hover {
                background-position: bottom left;
                color: $clr-neutral-4;
            }
        }
    }
}