@charset "UTF-8";
.container__wishlist {
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    &>h1 {
        font-weight: 700;
        font-size: 1.6rem;
        display: inherit;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        color: $clr-neutral;
        &>svg {
            font-size: 1.8rem;
            color: $clr-primary;
        }
    }
    &>div {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    h2 {
        color: $clr-neutral;
        font-weight: 700;
        font-size: 1rem;
        &~a {
            background-color: $clr-primary;
            color: $clr-neutral-4;
            font-weight: 700;
            font-size: .90rem;
            border-radius: 5px;
            padding: 12px 30px;
        }
    }
    .container__list {
        background-color: $clr-element-bg;
        padding: 0 40px;
        margin-top: 40px;
        width: 100%;
        .container__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 30px 0;
            &:not(:first-child) {
                border-top: 1px solid hsla(217, 9%, 45%, 0.295);
            }
            &>span {
                font-size: 1.8rem;
                font-weight: 700;
                color: $clr-primary;
            }
            &>div {
                &:first-child {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;
                    max-width: 280px;
                    min-width: 280px;
                    figure {
                        max-width: 90px;
                        img {
                            max-width: 100%;
                            min-width: 100%;
                            max-height: 100%;
                            min-height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        h2 {
                            color: $clr-neutral;
                            font-size: .90rem;
                            font-weight: 700;
                            line-height: .5cm;
                        }
                        span {
                            color: $clr-primary;
                            font-size: .90rem;
                        }
                    }
                }
                &:last-child {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    gap: 20px;
                    a {
                        background-color: $clr-primary;
                        color: $clr-neutral-4;
                        font-weight: 700;
                        padding: 10px 25px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 1rem;
                        border-radius: 5px;
                        &>svg {
                            font-size: 1.2rem;
                        }
                    }
                    button {
                        svg {
                            font-size: 1.6rem;
                            color: $clr-neutral-2;
                        }
                    }
                }
            }
        }
    }
}