@charset "UTF-8";
.main-purchases {
    h1 {
        font-size: 1.1rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        svg {
            color: $clr-primary;
            font-size: 1.4rem;
        }
    }
    .container {
        padding: 10px;
        max-height: 1470px;
        overflow: scroll;
        overflow-x: hidden;
        &>div {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            h2 {
                color: $clr-neutral;
                font-weight: 700;
                font-size: 1rem;
                &~a {
                    background-color: $clr-primary;
                    color: $clr-neutral-4;
                    font-weight: 700;
                    font-size: .90rem;
                    border-radius: 5px;
                    padding: 12px 30px;
                }
            }
        }
        &>ul {
            display: flex;
            flex-direction: column;
            gap: 40px;
            li {
                background-color: $clr-element-bg;
                padding: 15px;
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        display: inherit;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 15px;
                        font-weight: 700;
                        font-size: .95rem;
                        text-transform: capitalize;
                        span {
                            font-weight: 400;
                            &.purchase,
                            &.date {
                                font-size: .90rem;
                            }
                            &.status {
                                font-weight: 700;
                                color: $clr-primary;
                            }
                        }
                        a {
                            text-decoration: underline;
                            text-transform: none;
                            font-size: .90rem;
                            color: $clr-primary;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            & svg {
                                font-size: 1.5rem;
                            }
                            i {
                                transition: all 150ms ease-in-out;
                            }
                        }
                    }
                }
                .purchase-details {
                    height: 0;
                    padding: 15px;
                    overflow: hidden;
                    hr {
                        margin: 20px 0 50px 0;
                    }
                    h2 {
                        font-weight: 700;
                        font-size: .95rem;
                        margin-bottom: 5px;
                    }
                    p {
                        line-height: .7cm;
                    }
                    &>div {
                        position: relative;
                        display: flex;
                        gap: 5px;
                        margin-top: 70px;
                        &::before {
                            content: 'PRODUCT(S)';
                            position: absolute;
                            top: -35px;
                            font-weight: 700;
                            font-size: .95rem;
                        }
                        figure {
                            max-width: 180px;
                            border: 1px solid $clr-neutral-3;
                            img {
                                max-width: 100%;
                                min-width: 100%;
                                max-height: 100%;
                                min-height: 100%;
                                object-fit: cover;
                                display: block;
                            }
                        }
                        &>ul {
                            width: 100%;
                            display: inherit;
                            justify-content: space-between;
                            gap: 0;
                            li {
                                &:first-child {
                                    span {
                                        font-weight: 700;
                                    }
                                }
                                &:last-child {
                                    justify-content: flex-end;
                                    align-items: flex-end;
                                }
                            }
                        }
                    }
                    &>ul {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-top: 20px;
                        li {
                            width: 100%;
                            display: inherit;
                            justify-content: space-between;
                            flex-direction: row;
                            padding: 15px 20px;
                            font-size: .85rem;
                            &>span {
                                font-size: .95rem;
                            }
                            &:first-child {
                                border-top: 1px solid $clr-divisor;
                            }
                            &:nth-last-child(3) {
                                border-bottom: 1px solid $clr-divisor;
                            }
                            &:last-child {
                                background-color: #F2F3F4;
                                margin-top: 10px;
                                span {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}