@charset "UTF-8";
.addresses__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: hsla(0, 0%, 0%, 0.767);
    display: none;
    justify-content: center;
    align-items: center;
    .container {
        position: relative;
        max-height: 570px;
        max-width: 420px;
        &>button {
            position: absolute;
            top: 5px;
            right: -20px;
            &>svg {
                font-size: 2rem;
                color: $clr-primary;
            }
            &:active {
                transform: scale(95%);
            }
        }
        &>form {
            box-shadow: 0 2px 15px 0 #00000047;
            background-color: $clr-element-bg;
            border-radius: 8px;
            max-height: 540px;
            max-width: 420px;
            overflow-x: hidden;
            scroll-behavior: smooth;
            position: relative;
            fieldset {
                gap: 8px;
            }
        }
    }
    .streetAddress,
    .city {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .user {
        position: relative;
        filter: brightness(95%);
        &>input {
            color: $clr-neutral-3;
            outline: 1px solid $clr-neutral-3;
            padding-right: 40px;
            &:focus {
                outline: 1px solid $clr-neutral-3;
            }
        }
        &>svg {
            position: absolute;
            right: 10px;
            bottom: 9px;
            font-size: 1.5rem;
            color: $clr-neutral-3;
        }
    }
    .streetAddress {
        &>input {
            flex-basis: 70%;
            &:last-child {
                flex-basis: 30%;
            }
        }
    }
    .city {
        &>input {
            flex-basis: 85%;
            &:last-child {
                flex-basis: 15%;
            }
        }
    }
    p {
        &>button {
            background-color: transparent;
            border-radius: 3px;
            border: 1px solid $clr-primary;
            color: $clr-primary;
            font-weight: 700;
            font-size: .80rem;
            padding: 5px 15px;
            background: linear-gradient(to right, $clr-primary 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: bottom right;
            transition: all .6s ease-out;
            float: right;
            margin-top: 15px;
            &:hover {
                background-position: bottom left;
                color: $clr-neutral-4;
            }
        }
    }
}